{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/fon3.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 pt-5 mt-5 text-center">
                <p class="breadcrumbs"><span class="me-2"><a href="{% static 'home:home' %}">Asosiy sahifa<i
                        class="fa fa-chevron-right"></i></a></span> <span>Biz haqimizda<i
                        class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">Biz haqimizda</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb">
    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container-xl">
            <div class="row g-xl-5">
                <div class="col-md-6 d-flex py-5 align-items-stretch" data-aos="fade-up" data-aos-delay="100"
                     data-aos-duration="1000">
                    <!--                    <div class="img w-100  py-5" style="background-image: ');">-->
                    <!--                        <img src="{% static 'images/logo.png' %}" style="width: 100%;">-->
                    <!--                    </div>-->
                </div>
                <div class="col-md-12 heading-section d-flex align-items-center" data-aos="fade-up" data-aos-delay="200"
                     data-aos-duration="1000">
                    <div class="mt-0 my-lg-5 py-5">
                        <h2 class="mb-2" align="center">Samarqand davlat tibbiyot universiteti qoshidagi akademik litsey</h2>
                        <div class="row mt-4 g-lg-2">
                            <div class="col-lg-12 d-flex align-items-stretch services-wrap">
                                <div class="services d-flex">
                                    <div class="text">
                                        <h2 align="center">Akademik litsey haqida</h2>
                                        <p class="mb-0">
                                            Samarqand Davlat tibbiyot universiteti qoshidagi akademik litseyi (SamDTI
                                            qoshidagi 1-son akademik litsey) poydevori dastlab 2004-2005 o`quv yilida
                                            qo`yilgan b`olib, 18 yillik tarixiy yo`lni bosib o`tdi. Akademik litsey
                                            Vazirlar Mahkamasining 2003-yil 29-oktabrdagi 473-sonli qarori va
                                            O’zbekiston Respublikasi Oliy va o’rta maxsus ta’lim vazirligining 2004-yil
                                            27-sentabrdagi 198-sonli buyrug’iga asosan tashkil etilgan bo’lib,
                                            2004-2005-o’quv yilidan Samarqand Davlat tibbiyot universiteti qoshidagi
                                            1-son akademik litsey bo’lib ish boshlagan va litsey direktori vazifasini
                                            vaqtincha SamDTI litsey internat direktori k.f.d., prof. M.D.Davronov
                                            bajargan. Akademik litsey direktori lavozimida 2005-2007 yillar k.f.n
                                            A.Raximberdiyev, 2007-2010 yillar E.A.Safayeva, 2010-2019 yillar k.f.n
                                            M.U.Djalilovlar faoliyat ko’rsatganlar. <br>
                                              Akademik litsey 2017-yilga qadar Samarqand Davlat tibbiyot universiteti
                                            qoshidagi 1-son akademik litsey nomi ostida faoliyat olib borgan bo’lib,
                                            hozirda O’zbekiston Respublikasi Prezidentining 2017-yil 26-sentabrdagi
                                            “Oliy ta’lim muassasalariga kirish uchun nomzodlari maqsadli tayyorlash
                                            tizimini yanada takomillashtirish to’g’risida”gi PQ-3290-sonli qarori hamda
                                            O‘zbekiston Respublikasi Sog‘liqni Saqlash Vazirligining 2017-yil
                                            2-oktabrdagi № 583-sonli buyrug‘i asosida akademik litsey Samarqand Davlat
                                            tibbiyot universiteti tasarrufiga o’tkazildi va “Samarqand Davlat tibbiyot
                                            universiteti akademik litseyi” nomi bilan faoliyat ko’rsatib kelmoqda. <br>
                                              Samarqand Davlat tibbiyot universiteti rektori prof. A.M.Shamsiyev
                                            tomonidan 2019-yil 8-aprelda akademik litseyning o’quv, ilmiy, ma’naviy va
                                            ma’rifiy ishlarini yanada yaxshilash maqsadida institutning “Tibbiy
                                            biologiya va genetika” kafedrasi mudiri b.f.n, dots. X.I.Maxmudova akademik
                                            litsey direktori etib tayinlandi. Samarqand Davlat tibbiyot universiteti
                                            akademik litseyi faqat tabiiy fanlar yo’nalishiga ixtisoslashgan bo’lib,
                                            institut bilan hamkorlikda o’zining zamon talablariga mos o’quv-ilmiy,
                                            moddiy-texnik bazаsiga ega. Akademik litseyda darslar zamonaviy, jahon
                                            ta’lim standartlariga mos o’quv xonalarida katta tajribali va
                                            ilmiy-pedagogik salohiyatga ega o’qituvchilar tomonidan o’qitishning
                                            interfaol usullari, kompyuter texnologiyalaridan foydalangan holda olib
                                            boriladi. Jumladan, chuqurlashtirilgan kimyo, biologiya, fanlaridagi
                                            laboratoriya mashg’ulotlari maxsus laboratoriya o’quv xonalarida, amaliy
                                            mashg’ulotlar esa kichik guruhlarga bo’lingan holda o’tiladi. <br>
                                              Hozirda akademik litseyda O’zbekiston Respublikasi Prezidentining 2018-yil
                                            5-sentabrdagi PF-5538-sonli farmoniga muvofiq Vazirlar Mahkamasining
                                            2019-yil 13-maydagi 392-sonli qaroriga asosan rejali va joriy attestasiyadan
                                            o’tgan 36 nafar o’qituvchilar faoliyat ko’rsatib kelmoqda, ularning 1 nafari
                                            fan nomzodi, 4 nafari bosh o’qituvchi, 6 nafari yetakchi o’qituvchi, 13
                                            nafari esa katta o’qituvchilar hisoblanadi. <br>
                                              Akademik litseyda o`qituvchilarning ilmiy-pedagogik salohiyati va
                                            mahoratini muntazam oshirib borishga alohida ahamiyat qaratilib, Samarqand
                                            Davlat tibbiyot universiteti kafedralari professor o’qituvchilari bilan
                                            birgalikda o’quv-uslubiy, ilmiy, ma’naviy va ma’rifiy hamkorlik ishlari olib
                                            borilmoqda. Shuningdek, 2020-2023 yillarda Samarqand Davlat tibbiyot
                                            universiteti rektorining tashabbusi bilan akademik litsey o’qituvchilari
                                            xorijiy davlatlarda malaka oshirishi rejalashtirilgan. <br>
                                            <b>Hozirda SamDTU akademik litseyida ilmiy-pedagogik kengash qarori bilan 4 ta:
                                            </b>
                                        <ul>
                                          <li>Biologiya</li>
                                          <li>Kimyo</li>
                                          <li>Ijtimoiy fanlar va tillar</li>
                                          <li>Aniq fanlar</li>
                                        </ul>
                                        kafedralari “Akademik litsey fan kafedralari
                                        to’g’risidagi na’munaviy nizom”ga asosan o’z ish faoliyatlarini olib bormoqda. <br>
                                          Akademik litseyda ta’lim jarayonini DTS talablari asosida bajarish maqsadida
                                        o’qituvchi va o`quvchilarning ijodiy hamkorligini targ’ib etish, ularning
                                        iqtidor va qobilyatlarini namoyon etish uchun fan oyliklarini o’tkazish
                                        kafedralar tomonidan talab darajasida bajarilmoqda. Bu esa ta’limda sifat va
                                        samaradorlikni oshirishga imkoniyat yaratmoqda. Akademik litseyda zamon
                                        talablariga javob beradigan sport zali, 220 o’rinli faollar zali, 10 dan ortiq
                                        fan to’garaklari, 200 o’rinli oshxona va yotoqxona o’quvchilar ixtiyorida
                                        bo’lib, yotoqxonada yashovchi o’quvchilar 3 mahal issiq ovqat bilan
                                        ta’minlanadi, bundan tashqari direktor X.I. Maxmudova tomonidan muhtaram
                                        Prezidentimizning 5 ta muhim tashabbusi asosida yoshlarni bo’sh vaqtini samarali
                                        o’tkazish borasida joriy yilning may-iyun oylarida 2 ta kompyuter xonalari, 1 ta
                                        kutubxona va o’quv zali hamda kitobxonlik to’garaklari tashkil etildi. Akademik
                                        litseyni bitirgan o`quvchilarga akademik litsey diplomi va “Kimyo laboranti”
                                        kichik mutaxassisligi sertifikati beriladi. <br>
                                          Akademik litsey bilimga chanqoq yoshlarni mamlakatimiz kelajagi yo’lida
                                        tarbiyalab, respublikada o’zining munosib o’rnini egallagan ilm dargohidir.
                                        Akademik litseyni tugatgan o’quvchilari Respublikamizning barcha tabiiy fanlar
                                        mavjud bo’lgan oliygohlarda tahsil olmoqdalar. Bundan tashqari akademik litsey
                                        o`quvchilari fan olimpiadalarida munosib qatnashib faxrli o’rinlarni egallab
                                        kelmoqda, jumladan, KIMYO fanidan Do’stov Anvar Respublika fan olimpiadasida
                                        faxrli 2-o’rinni egallagan, Faxriyev Jahongir esa 48-Butun jahon olimpiadasida
                                        3-o’rinni egallab, 50-Xalqaro olimpiadada ham qatnashib bronza medalini qo’lga
                                        kiritgan. Viloyat olimpiadasida esa Xusanov Muhammad kimyo fanidan 3- o’rinni,
                                        Xurramov Yaxyoxon 2-o’rinni, biologiya fanidan Normurodov Sherbek 2- o’rinni,
                                        Baxtiyorov Begali 1-o’rinni, ona-tili va adabiyot fanidan Abduraximova
                                        Dilso‘zlar 2- o‘rinni egallagan va respublika olimpiadasida muvaffaqiyatli
                                        qatnashganlar. <br>
                                          Akademik litseyda o’quv jarayonini yanada yaxshilash, bilimli, qiziquvchan
                                        iqtidorli o’quvchilarni 2019-2020 o’quv yiliga tanlab olish maqsadida institut
                                        rahbariyati va X.I. Maxmudovaning tashabbuslari bilan O’zbekiston Respublikasi
                                        Prezidentining 2017-yil 26-sentabrdagi “Oliy ta’lim muassasalariga kirish uchun
                                        nomzodlarini maqsadli tayyorlash tizimini yanada takomillashtirish
                                        to’g’risida”gi PQ-3290-sonli qarori hamda, Vazirlar Mahkamasining 2018-yil
                                        23-martdagi 212-sonli “Akademik litseylarga umumiy o'rta ta'lim maktablari
                                        o'quvchilarini tanlab olish, o'qishga qabul qilish, ularning o'qishini
                                        ko‘chirish va o'qishdan chetlatish tartibi to'g‘risida”gi qarori va 2018-yil
                                        17-iyuldagi 3040-son qarori bilan Adliya vazirligida davlat ro'yxatidan
                                        o'tkazilgan O'zbekiston Respublikasi Oliy va o'rta maxsus ta'lim vazirligi va
                                        Xalq ta'limi vazirligining qo'shma qarori bilan tasdiqlangan “Akademik
                                        litseylarda saralash imtihonlarini o'tkazish, rasmiylashtirish va natijalarni
                                        e'lon qilish tartibi to'g‘risida”gi Nizomi asosida aprel-may oylarida
                                        viloyatning barcha tumanlarida targ’ibot-tashviqot ishlari jadallik bilan olib
                                        borildi. Test jarayoni katta zalda shaffof, ochiq-oydin tashkil etildi.
                                        Kelajakda akademik litsey o’quvchilari oldida davlatimiz rahbari va institut
                                        rektori tomonidan yaratilgan sharoitlardan to‘laqonli foydalanish hamda oliy
                                        o’quv yurtlarining munosib nomzodlari bo’lish kabi vazifalar turibdi.


                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<section class="ftco-section-counter img" style="background-image: url('{% static 'images/bg_3.jpg' %}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row section-counter">
            <div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
                <div class="counter-wrap-2 d-flex" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                    <div class="icon">
                        <span class="flaticon-learning"></span>
                    </div>
                    <div class="text">
                        <h2 class="number"><span class="countup">345</span></h2>
                        <span class="caption">Umumiy o'quvchilar</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
                <div class="counter-wrap-2 d-flex" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                    <div class="icon">
                        <span class="flaticon-scientist"></span>
                    </div>
                    <div class="text">
                        <h2 class="number"><span class="countup">121</span></h2>
                        <span class="caption">Bitiruvchilar</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
                <div class="counter-wrap-2 d-flex" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
                    <div class="icon">
                        <span class="flaticon-graduation"></span>
                    </div>
                    <div class="text">
                        <h2 class="number"><span class="countup">109</span></h2>
                        <span class="caption">OTM larga o'qishga kirgan o'quvchilar</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
                <div class="counter-wrap-2 d-flex" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
                    <div class="icon">
                        <span class="flaticon-calendar"></span>
                    </div>
                    <div class="text">
                        <h2 class="number"><span class="countup">90</span>%</h2>
                        <span class="caption">OTM ga kirish ko'rsatkichi</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}