{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/fon3.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 pt-5 mt-5 text-center">
                <p class="breadcrumbs"><span class="me-2"><a href="{% url 'home:home' %}">Asosiy sahifa <i
                        class="fa fa-chevron-right"></i></a></span> <span class="me-2"><a href="{% url 'news:blog' %}">Yangiliklar <i
                        class="fa fa-chevron-right"></i></a></span> <span>Batafsil<i
                        class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">Batafsil</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container" id="blog_detail">
        <div class="row g-lg-5">
            <div class="col-lg-8 blog-single">
                <h2 class="mb-3">{{ blog_detail.title }}</h2>
                <p>
                    <img src="{{ blog_detail.image.url }}" alt class="img-fluid">
                </p>
                <p>
                    {{ blog_detail.body }}
                </p>
                {% for subimage in blog_detail.subimage_set.all %}
                <p>
                    <img src="{{ subimage.image.url }}" alt class="img-fluid">
                </p>
                {% endfor %}
                <span>{{ blog_detail.created_at|date:"d-M.Y" }}</span>
            </div>
            <div class="col-lg-4 sidebar pl-md-4">
                <div class="sidebar-box bg-light rounded">
                    <form action="#" class="search-form">
                        <div class="form-group">
                        </div>
                    </form>
                </div>

                <div class="sidebar-box">
                    <h3>So'ngi yangiliklar</h3>
                    {% for i in latest_blog %}
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img me-4" href="{% url 'news:detail' i.slug %}#blog_detail" style="background-image: url({{ i.image.url }});"></a>
                        <div class="text">
                            <span>{{ i.category }}</span>
                            <h3 class="heading"><a href="{% url 'news:detail' i.slug %}#blog_detail">{{ i.title }}</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="fa fa-calendar"></span> {{ i.created_at|date:"d-M.Y" }}</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}
