{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--banner-->

<!--################-->
<section class="hero-wrap" style="background-image: url('{% static 'images/fon10.jpg' %}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center">
            <div class="col-lg-5">
                <div class="text mt-5 pt-5" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
                    <span class="subheading">Samarqand davlat tibbiyot universiteti qoshidagi</span>
                    <h1 class="mb-4">Akademik litsey</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end of banner-->


<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container-xl">
        <div class="row g-xl-5">
            <div class="col-md-6 d-flex py-5 align-items-stretch" data-aos="fade-up" data-aos-delay="100"
                 data-aos-duration="1000">
                <div class="img w-100  py-5" style="background-image: ');">
                    <img src="{% static 'images/logo.png' %}" style="width: 100%;">
                </div>
            </div>
            <div class="col-md-6 heading-section d-flex align-items-center" data-aos="fade-up" data-aos-delay="200"
                 data-aos-duration="1000">
                <div class="mt-0 my-lg-5 py-5">
                    <span class="subheading">Qisqacha ma'lumot</span>
                    <h2 class="mb-2">SamDTU Akademik litseyi</h2>
                    <div class="row mt-4 g-lg-2">
                        <div class="col-lg-12 d-flex align-items-stretch services-wrap">
                            <div class="services d-flex">
                                <div class="icon"><span class="flaticon-online-learning"></span></div>
                                <div class="text">
                                    <h2>Akademik litsey tarixi</h2>
                                    <p class="mb-0">
                                        Samarqand Davlat tibbiyot universiteti qoshidagi akademik litseyi (SamDTI
                                        qoshidagi 1-son akademik litsey) poydevori dastlab 2004-2005 o`quv yilida
                                        qo`yilgan b`olib, 18 yillik tarixiy yo`lni bosib o`tdi. Akademik litsey Vazirlar
                                        Mahkamasining 2003-yil 29-oktabrdagi 473-sonli qarori va O’zbekiston
                                        Respublikasi Oliy va o’rta maxsus ta’lim vazirligining 2004-yil 27-sentabrdagi
                                        198-sonli buyrug’iga asosan tashkil etilgan bo’lib, 2004-2005-o’quv yilidan
                                        Samarqand Davlat tibbiyot universiteti qoshidagi 1-son akademik litsey bo’lib
                                        ish boshlagan
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section-counter img" style="background-image: url('{% static 'images/bg_3.jpg' %}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row section-counter">
            <div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
                <div class="counter-wrap-2 d-flex" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                    <div class="icon">
                        <span class="flaticon-learning"></span>
                    </div>
                    <div class="text">
                        <h2 class="number"><span class="countup">345</span></h2>
                        <span class="caption">Umumiy o'quvchilar</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
                <div class="counter-wrap-2 d-flex" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                    <div class="icon">
                        <span class="flaticon-scientist"></span>
                    </div>
                    <div class="text">
                        <h2 class="number"><span class="countup">121</span></h2>
                        <span class="caption">Bitiruvchilar</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
                <div class="counter-wrap-2 d-flex" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
                    <div class="icon">
                        <span class="flaticon-graduation"></span>
                    </div>
                    <div class="text">
                        <h2 class="number"><span class="countup">109</span></h2>
                        <span class="caption">OTM larga o'qishga kirgan o'quvchilar</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
                <div class="counter-wrap-2 d-flex" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
                    <div class="icon">
                        <span class="flaticon-calendar"></span>
                    </div>
                    <div class="text">
                        <h2 class="number"><span class="countup">90</span>%</h2>
                        <span class="caption">OTM ga kirish ko'rsatkichi</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container-xl" align="center">
        <div class="row g-xl-5">
            <div class="col-md-6 d-flex py-5 align-items-stretch" data-aos="fade-up" data-aos-delay="100"
                 data-aos-duration="1000">
                <div class="img w-100  py-5">
                    <img src="{% static 'images/direktor.jpg' %}" style="width: 60%; border-radius: 15px">
                </div>
            </div>
            <div class="col-md-6 heading-section d-flex align-items-center" data-aos="fade-up" data-aos-delay="200"
                 data-aos-duration="1000">
                <div class="mt-0 my-lg-5 py-5">
                    <span class="subheading">Akademik litsey ijrochi direktori</span>
                    <h4 class="mb-2">Maxmudova Xurshida Ergashevna</h4>
                    <span>Biologiya fanlari nomzodi, dotsent</span>
                    <div class="row mt-4 g-lg-2">
                        <div class="col-lg-12 d-flex align-items-stretch services-wrap">
                            <div class="services d-flex">
                                <div class="text">
                                    <table class="table table-striped">
                                        <tbody>
                                        <tr>
                                            <th scope="row">Qabul vaqti:</th>
                                            <td>Seshanba, payshanba 14:00 - 16:00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Telfon raqam:</th>
                                            <td>+998 66 232 23 58</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">E-pochta:</th>
                                            <td>sammi_al@umail.uz</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Manzil:</th>
                                            <td>Samarqand sh. Voxid Abdullayev ko'chasi, 14</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section testimony-section bg-light">
    <div class="container-xl">
        <div class="row justify-content-center pb-4">
            <div class="col-md-7 text-center heading-section" data-aos="fade-up" data-aos-duration="1000">
                <span class="subheading">Talabalar burchagi</span>
                <h2 class="mb-5">Bizning faol o'quvchilarimiz!</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <div class="carousel-testimony">
                    {% for student in students %}
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="text">
                                <div class="d-flex align-items-center mb-4">
                                    <div class="user-img" style="background-image: url({{ student.image.url }})">
                                        <div class="d-flex align-items-center justify-content-center"><span
                                                class="fa fa-quote-left"></div>
                                    </div>
                                    <div class="ps-3 tx">
                                        <p class="name"> {{ student.surname }}</p>
                                        <span class="position">{{ student.name }}</span>
                                    </div>
                                </div>
                                <p class="mb-4 msg">{{ student.description }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section bg-light ftco-no-pt">
    <div class="container-xl">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center" data-aos="fade-up" data-aos-duration="1000">
                <span class="subheading">Yangiliklar</span>
                <h2>Eng so'ngi tadbirlar va yangiliklar!</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for blog in latest_blog %}
            <div class="col-md-6 col-lg-4 d-flex">
                <div class="blog-entry justify-content-end" data-aos="fade-up" data-aos-duration="1000"
                     data-aos-delay="100">
                    <a href="{% url 'news:detail' blog.slug %}#blog_detail" class="block-20 img"
                       style="background-image: url('{{ blog.image.url }}');">
                    </a>
                    <div class="text">
                        <p class="meta"><span><a href="{% url 'news:detail' blog.id %}#blog_detail"><i
                                class="fa fa-comment me-1"></i> {{ blog.category }}</a></span> <span><i
                                class="fa fa-calendar me-1"></i>{{ blog.created_at|date:"d-M. Y" }}</span> </p>
                        <h3 class="heading mb-3"><a href="{% url 'news:detail' blog.slug %}#blog_detail">{{ blog.title }}</a></h3>
<!--                        <p>{{ blog.body|slice:"60" }}</p>-->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
