        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        {% if blog_list.has_previous %}
                            <li><a href="?page={{ objects.previous_page_number }}#blog_lists">&lt;</a></li>
                        {% endif %}

                        {% for i in blog_list.paginator.page_range %}
                            {% if i == blog_list.number %}
                                <li class="active"><span>{{ i }}</span></li>
                            {% else %}
                                <li><a href="?page={{ i }}#blog_lists">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if blog_list.has_next %}
                            <li><a href="?page={{ blog_list.next_page_number }}#blog_lists">&gt;</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>


