{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/yon8.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 pt-5 mt-5 text-center">
                <p class="breadcrumbs"><span class="me-2"><a href="{% url 'home:home' %}">Asosiy sahifa <i
                        class="fa fa-chevron-right"></i></a></span> <span>Jamoa<i
                        class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">Jamoa</h1>
            </div>
        </div>

    </div>
</section>
<section class="ftco-section" >
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-10 text-center heading-section" data-aos="fade-up" id="leader">
                <span class="subheading">Rahbariyat</span>
                <h2 class="mb-5">Akademik litsey rahbariyati</h2>
            </div>
        </div>
        <div class="row">
            {% for lead in leader %}
             <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <div class="staff">
                    <div class="img" style="background-image: url({{ lead.image.url }});">
                    </div>
                    <div class="text">
                        <h3>{{ lead.fullname}}</h3>
                        <span class="position">{{ lead.text }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <br><br><br>
        <div class="row justify-content-center pb-4" id="department">
            <div class="col-md-10 text-center heading-section" data-aos="fade-up">
                <span class="subheading">Bo'lim</span>
                <h2 class="mb-5">Akademik litsey bo'lim boshliqlari</h2>
            </div>
        </div>
        <div class=" row justify-content-center">
            {% for d in dep %}
             <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <div class="staff">
                    <div class="img" style="background-image: url({{ d.image.url }});">
                    </div>
                    <div class="text">
                        <h3>{{ d.fullname}}</h3>
                        <span class="position">{{ d.text }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <br><br><br>
        <div class="row justify-content-center pb-4" id="kafedra">
            <div class="col-md-10 text-center heading-section" data-aos="fade-up">
                <span class="subheading">Kafedra</span>
                <h2 class="mb-5">Akademik litsey kafedra mudirlari</h2>
            </div>
        </div>
        <div class="row">
            {% for k in kafedra %}
             <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <div class="staff">
                    <div class="img" style="background-image: url({{ k.image.url }});">
                    </div>
                    <div class="text">
                        <h3>{{ k.fullname}}</h3>
                        <span class="position">{{ k.text }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}